*{box-sizing: border-box; overflow-x: hidden;}
body{margin:0; background-image: url("images/bnxn.jpg");background-size: cover; background-color: #404040;
    background-blend-mode: multiply;color: whitesmoke; line-height: 1.6; width: 100%; width: 100vw;object-fit: cover;
}

.main-container {margin: 5em 2em; width: 100%; max-width:960;display: flex;
justify-content: space-between;}


h2 { margin-left: 2em;font-family: poppins;font-size:2rem;font-family: rubik moonrocks;}

#name{ color:antiquewhite;margin-top: 1em;}

#year{color:plum}

h1 { margin-left: 2em; background: hotpink; display: inline-block; padding:0.3em 0.3em;
 font-family: rubik moonrocks; border-radius:5px ;margin-top: 0px;color: black;}

#event-btn {margin-right:7em;height: 5vh; margin-top: 2.1em; background: hotpink; color: black;
font-weight: bolder; font-family: Nunito; border-radius: 30px; width:6%}

#music-btn {margin-right:3em;height: 6vh; margin-top: 2em; background: yellowgreen; color: black;
font-weight: bolder; font-family: nunito; border-radius: 30px; width:6%}
 
#scnd-nav {background:black;padding:1em 0.8em;display:inline-block; margin-left: 2.7em; color: whitesmoke;font-family: work sans;font-size: 0.9rem;}            
#btn {background:black; color: aliceblue; font-size: 0.73rem;}

nav { display: flex;justify-content: right;  background: black; width: 100%;padding-bottom: 1em;
     }
#home{height: 6vh; margin-top: 2em; background: plum; color: black;font-weight: bolder; font-family: Nunito; border-radius: 30px; width:6%; margin-left:5em;}


#btn-tours {width:6%; height: 5.5vh; margin-top: 2.1em; background:orange;color:black;margin-left: 5em;margin-right:3.8em;font-weight: bolder; border: solid orange 3px; border-radius: 30px; font-family:nunito; }



.showone,.showtwo,.showthree,.showfour {display: flex; justify-content: space-between; font-family: poppins;font-weight: bold;color: antiquewhite; }

#country{font-family:poppins; color:orange ;background: rgb(26, 9, 9); padding: 2px 2px; border-radius: 3px;}

.shw-bio {background: black;border-radius:20px;padding:0 2em}

#ticket-btn {margin-left: 20em; font-family: rubik moonrocks;font-weight: bolder; border-radius: 4px;background: yellowgreen;width: 20%;height: 5vh;}

#song-para {margin-top: 0px; margin-left: .5em;}

#cancel-btn {margin-right: 10em; 
    font-family: poppins;
    font-weight: bold;
    border-radius: 4px;
    background: orangered; 
    color:black; 
    width: 18%;
    height: 5vh;}
      
    .show-cancel {font-family: poppins;
    font-weight: bold; color:antiquewhite}    
    
    .sold {margin-right: 10em;
    font-family: poppins;
    font-weight: bolder; 
    border-radius: 4px;
    background: rgb(218, 186, 10);
    color:black; 
    width: 18%;
    height: 5vh;}  
    

#song {background:plum;padding:0.5em 0.5em;color:black;font-weight: bolder;border-radius: 
4px;box-shadow: 2px -2px rgb(221, 177, 177);  margin-top: 19px;margin-right: 18em; 
font-family: poppins;}

#listen-btn {font-family: rubik moonrocks;font-weight: bolder; border-radius: 4px;
background: yellowgreen;width: 20%;height: 5vh;}

.bio-listen {margin-top: 18em;}

audio{
height: 50px;
border-radius: 3px;
font-size: 1em;
font-weight: bold;}


audio::-webkit-media-controls-panel {
background-color: plum;
padding-right: 8em;}

#titl {margin-left: .4em; font-family:poppins;
padding: 2px 2px; border-radius: 3px; color:antiquewhite;}

a{text-decoration: none; color: black;}




@media (max-width: 600px) {
.main { display: inline-block;height: 10%;margin-top: 0px;}

body{margin:0; 
background:black;
color: whitesmoke; 
line-height: 1.6;}

.list-container {
display: flex;flex-direction:column ;
justify-content: space-between;}

.alllist {background:rgb(21, 18, 18);
padding: 2em 2em; 
border-radius: 8px;
font-family: poppins;
font-weight: bolder;
font-size: 0.6rem;
margin-bottom: 2.5em; }

#details{background:yellowgreen;
color: black;
padding: 0.3em 0.3em;
border-radius: 3px;
font-family:poppins;
font-weight: bolder;
font-size: 0.6rem;}

#music-btn {margin-right:92em;
height: 6vh; 
margin-right: 1em;
margin-top: 2.1em;
background:plum; 
color: black;
font-weight: bolder;
font-family: nunito;
border-radius: 30px;
width:20%;
font-size:0.6em}

#btn-tours {width:22%; height: 5.5vh;
margin-top: 2.2em;
background:plum;
color:black;
margin-left: 3.3em;
font-weight: bolder; 
border: solid plum 3px;
border-radius: 30px; 
font-family:nunito; 
font-size: 0.6rem}

#home{height: 6.5vh;
margin-top: 2.1em;
background: plum; 
color: black;
font-weight: bolder;
font-family: Nunito;
font-size:0.6rem;
border-radius: 30px;
width:22%; 
margin-left:1em;}

#scnd-nav {background:black;
padding:1em 0.3em;
display:inline-block;
margin-left: 0.5em;
color: whitesmoke;
font-size: 0.4rem;
border:solid black 3px;}            

#socials {background: black;
display:inline-block;
padding: 0.3em 0.3em;
margin-left: 1em;
margin-bottom: 0px;
filter: brightness(60%);
border-radius: 3px;
display: flex}  

#btn {background:black; 
    color: aliceblue; 
    font-size: 0.4rem;
    border:solid black 3px;}

.showone,.showtwo,.showthree,.showfour{
display: flex;
flex-direction: column ;
justify-content: space-between; 
font-family: poppins;
font-weight: bold;
color: white; 
font-size:1em}

 #country{font-family:poppins;
 color:white;
 padding: 2px 2px; 
 border-radius: 3px;
 font-size:0.5rem }

 .shw-bio {background:black;
 border-radius:20px;
 padding:0 2em; 
 width:100%;
 margin-left:0.2em;
 font-size:0.7rem }

#ticket-btn {margin-left: 0.2em;
font-family:rubik moonrocks;
font-weight: bolder;
border-radius: 4px;
background: yellowgreen;
width: 30%;
height: 8vh;}

#song-para {margin-top: 0px;
 margin-left: .5em;
 font-size: 0.5em ;
 margin-right:0px }

#song {background:plum;
padding:0.5em 0.5em;
color:black;
font-weight: bolder;
border-radius:4px;
box-shadow: 2px -2px rgb(221, 177, 177);  
margin-top: 19px;
margin-right: 1em;
font-family: poppins;
font-size:0.6rem}

#listen-btn {font-family:poppins;
font-weight: bolder; 
border-radius: 4px;
background: yellowgreen;
width: 35%;
height: 5vh; 
font-size:0.7rem}

audio::-webkit-media-controls-panel {
background-color:lightseagreen;}

 
#titl { font-family:poppins;
padding: 2px 2px; 
border-radius: 3px; 
color:white; 
font-size:0.7rem}

a{text-decoration: none; color: black;}

.main-container {margin:0.3em 0.5em; 
width: 100%; 
display: flex;
justify-content: space-between;
flex-direction: column}


h2 { font-family:work sans;
font-size:1rem;
margin-left: 0px;
font-weight:bolder }

#name{ 
color:yellowgreen;
margin-top: 1em;}

#year{color:wheat;
font-size:1rem}
#cancel-btn {margin-right: 10em; 
font-family: poppins;
font-weight: bold;
border-radius: 4px;
background: orangered; 
color:black; 
width: 40%;
height: 6vh;}
  
.show-cancel {font-family: poppins;
font-weight: bold; }    

.sold {margin-right: 10em;
font-family: poppins;
font-weight: bolder; 
border-radius: 4px;
background: rgb(218, 186, 10);
color:black; 
width: 38%;
height: 6vh;}  

}

   
