body {margin: 0; line-height: 1.2;}

.main { display: inline-block;height: 10%;margin-top: 0px;}

.homepage-container {width: 100%; max-width:960;}


nav { display: flex; justify-content: space-between; background: black; width: 100%;
padding-bottom: 1em;}

#music-btn {margin-right:5em;height: 6vh; margin-top: 2.1em; background: yellowgreen;
  border:yellowgreen solid 3px;
   color: black;font-weight: bolder; font-family: nunito; border-radius: 30px; width:6%}
  
   #btn-tours {width:6.3%; height: 6.3vh; margin-top: 2em; background:orange;color:black;
      border:orange solid 3px;margin-left: 75em;margin-right:3.8em;font-weight: bolder;  border-radius: 30px;font-family:nunito; }
  
     

#first-para {font-size: 2.2rem;margin-left: 1.2em; margin-right: 1em; margin-top: 6em; 
font-weight: bold; font-family:work sans; color:antiquewhite; }

#ticket {color:antiquewhite}  

#line{color: orange}

#scnd-para {font-size: 0.8em;; margin-left: 2em; background: hotpink; display:inline-block;margin-top: 0px;padding:0.5em 0.5em; font-weight: bold; font-family: poppins;border-radius: 12px;}

#scnd-nav {background:black;padding:1em 0.8em;display:inline-block; margin-left: 2.7em; color: whitesmoke;font-family: work sans;font-size: 0.9rem;}            

#socials {background: black;display:inline-block;padding: 0.3em 0.3em;
margin-left: 2.3em;margin-bottom: 0px; filter: brightness(60%);border-radius: 3px;}  


#tour,#afrostars{background:orange;color: black;padding: 0 0.2em; line-height: 1rem;}

#music {color:yellowgreen;}

a{text-decoration: none;color:black}

button:hover {
    background-color:plum;
  }
#ticket-under{color:yellowgreen}

#btn {background:black; color: aliceblue; font-size: 0.73rem;border:solid black 3px}


.fullscreen-bg {
mix-blend-mode: overlay;
position: fixed;
top: 0;
right: 0;
bottom: 0;
left: 0;
overflow: hidden;
z-index: -100;}
  
.fullscreen-bg__video {
position: absolute;
top: 50%;
left: 50%;
width: auto;
height: auto;
min-width: 100%;
min-height: 100%;
-webkit-transform: translate(-50%, -50%);
-moz-transform: translate(-50%, -50%);
-ms-transform: translate(-50%, -50%);
transform: translate(-50%, -50%);}
  
@media (max-width: 600px) {
.main { display: inline-block;height: 10%;margin-top: 0px;}
.homepage-container {width: 100%; max-width:600;}

#music-btn {margin-right:92em;
height: 5.9vh; 
margin-right: 1em;
margin-top: 2.2em;
background: yellowgreen; 
color: black;
font-weight: bolder;
font-family: nunito;
border-radius: 30px;
width:18%;
border: solid yellowgreen 3px;
font-size:0.6em
}

#btn-tours {width:18%; height: 5.9vh;
margin-top: 2.2em;
background:orange;
color:black;
margin-left: 1.2em;
font-weight: bolder; 
border: solid orange 3px;
border-radius: 30px; 
font-family:nunito; 
font-size: 0.6rem}


#first-para {font-size: 1.3rem;
margin-left: 1em; 
margin-right: 1em;
margin-top: 11em; 
font-weight: bold; 
font-family:work sans; 
color:antiquewhite }


#scnd-nav {background:black;
padding:1em 0.3em;
display:inline-block;
margin-left: 3.2em;
color: whitesmoke;
font-family: work sans;
font-size: 0.6rem;}            

#socials {background: black;
display:inline-block;
padding: 0.3em 0.3em;
margin-left: 1em;
margin-bottom: 0px;
filter: brightness(60%);
border-radius: 3px;
}  


#btn {background:transparent; 
color: aliceblue; 
font-size: 0.4rem;
border:solid black 3px}


.fullscreen-bg {
mix-blend-mode: overlay;
position: fixed;
top: 0;
right: 0;
bottom: 0;
left: 0;
overflow: hidden;
z-index: -100;}
  
.fullscreen-bg__video {
position: absolute;
top: 50%;
left: 50%;
width: auto;
height: auto;
min-width: 100%;
min-height: 100%;
-webkit-transform: translate(-50%, -50%);
-moz-transform: translate(-50%, -50%);
-ms-transform: translate(-50%, -50%);
transform: translate(-50%, -50%);}
   }